main{
	background: url(../../img/image/main/mainPhotoSliced.jpg) 100% 0 /35%  no-repeat, url(../../img/image/main/Vector.svg)  10% 95%  /45%  no-repeat;
	font-family: 'Montserrat', sans-serif;
	h1{
		font-size: 128px;
		margin: 0;
		padding: 5% 0 4% 0;
		font-weight: 400;
		line-height: 135px;
	}
	span{
		line-height: 50px;
		font-size: 26px;
	}	
	.boxForText{
		width: 60%;
	}
	h2{
		line-height: 40px;
		font-size: 38px;
		font-weight: 300;
	}
}
