.my-projects h2{
	margin-bottom: 30px;
}

.my-projects h3{
	color: #1c3c74;
}

.project-wrapper {
	display: flex;
	justify-content: space-between;
}

.last-project, .current-project{
	margin-bottom: 25px;
	position: relative;
	z-index: 0;
}

.project__btn{
	position: absolute;
	display: block;
	bottom: 0;
	width: 150px;
	background-color: #fff;
	color: #1d83ba;
	&:hover{
		background-color: #3cb8f9;
		background-image: linear-gradient(180deg, #3cb8f9 0%,#2b81a5 50%, #106b92 100%);
	}
}

.project__image{
	display: flex;
	align-items: center;
	padding: 25px;
	text-align: center;
	margin-right: 25px;
	span{
		margin: 0 auto;
		color: antiquewhite;
		font-size: 1.2rem;
	}
	width: 340px;
	min-height: 200px;
}

.project__info{
	width: 70%;
}

.project__title, .project__descr{
	display: block;
	display: -webkit-box;
	height: 35px;
	margin: 0 0 5px 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4; 
	-webkit-box-orient: vertical;
}

.project__descr{
	height: 100px;
}

@media all and (max-width: 600px) {
	.project-wrapper {
		display: block;
		.project__title{
			position: relative;
			top: -125px;
		}
	}

	.project__image{
		position: relative;
		top: 45px;
		margin: 20px auto;
		width: 100%;
		min-height: 100px;
	}

	.project__info{
		width: 100%;
		height: auto;
		margin-bottom: 50px;
	}

	.project__title{
		height: 33px;
	}
	.project__descr{
		display: block;
		height: auto;
	}

	.project__btn{
		position: relative;
		width: 100%;
		margin-top: 20px;
	}	
}
