.about{
	padding-bottom: 60px;
	&__row{
		display: flex;
		justify-content: space-between;
	}

	&__main{
		width: 30%;
	}

	&__main-info{
		p{
			font-size: 1.25rem;
		}
		.social-media{
			margin-top: 30px;
			a{
				margin: 0 3px 0 3px;
			}	
			img{
				width: 42px;
				height: auto;
			}
		}
	}

	&__steck{
		margin-top: 35px;
		.steck-label{
			width: 25%;
		}
		.steck-progress{
			width: 75%;
		}
		.progress-bar{
			background-color: #106b92;
		}
		a{
			width: 100%;
			margin-top: 30px;
			color: #4158D0;
			&:hover{
				background-color: #3cb8f9;
				background-image: linear-gradient(180deg, #3cb8f9 0%,#2b81a5 50%, #106b92 100%);
			}
		}
	}

	&__cv{
		width: 65%;
		iframe{
			width: 100%;
			height: 585px;
		}
	}
}

@media all and (max-width: 1023px) {
	.about {
		&__row{
			display: block;
		}
		&__main{
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
		&__steck{
			width: 60%;
			margin-top: 0px;
			a{
				display: block;
				margin-top: 22px;
				height: 42px;
			}
		}
	
		&__main-info {
			width: 360px;
			margin-right: 40px;
			p{
				font-size: 1.25rem;
				line-height: 24px;
			}
			.social-media{
				margin-top: 34px;
			}
		}
		&__cv{
			margin-top: 50px;
			width: 100%;
			iframe{
				width: 100%;
				height: 585px;
			}
		}
	}
}

@media all and (max-width: 768px) {
	.about {
		margin-top: 10px;
	}
}

@media all and (max-width: 672px) {
	.about {
		&__main{
			display: block;
		}
		&__steck{
			width: 100%;
			margin-top: 30px;
		}
	
		&__main-info {
			width: 100%;
			margin-right: 0px;
			p{
				font-size: 1.25rem;
				line-height: 24px;
				text-align: center;
			}
			.social-media{
				margin: 0 auto;
				width: 290px;
				margin-top: 34px;
			}
		}
	}
}

@media all and (max-width: 672px) {
	.about{
		&__cv{
			iframe{
				height: 385px;
			}
		}
	}
}

